<div class="center">
  <h1>Edit Task:</h1>

  <h3>Edit Task Title:</h3>
  <div class="form">
    <form  action="/groups/<%= @group.slug %>/tasks/<%= @task.id %>" method="POST">
      <input type="hidden" name="_method" value="PATCH">
      <label for="title">Change Task Title:</label><br>
      <input type="text" name="title" value="<%= @task.title %>"><br><br>
      <input type="submit" value="Change Title">
    </form>
  </div>

  <br><br>

  <h3>Delete Task:</h3>
  <p>This will delete the task and all corresponding todos. It cannot be undone.</p>
  <div class="form">
    <form action="/groups/<%= @group.slug %>/tasks/<%= @task.id %>/delete" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete Task">
    </form>
  </div>

</div>


<br><br><form action="/logout" method="POST" class="center">
  <input type="submit" value="Log Out">
</form>
