<h1 class="center">Tasks for <%= @group.name %></h1>

<div class="row center">
  <div class="column">
    <h2>Outstanding Tasks</h2>
    <% @group.tasks.each do |task| %>
      <% if task.complete? == false %>
        <h3><a href="/groups/<%= @group.id %>/tasks/<%= task.id %>"><%= task.title %></a></h3>
      <% end %>
    <% end %>
    <a href="/groups/<%= @group.id %>/tasks/new"><button type="button">Create New Task</button></a>
  </div>
  <div class="column">
    <h2>Completed Tasks</h2>
    <% @group.tasks.each do |task| %>
      <% if task.complete? == true %>
        <h3><a href="/groups/<%= @group.id %>/tasks/<%= task.id %>"><%= task.title %></a></h3>
      <% end %>
    <% end %>

    <% @group.owner == current_user %>
      <form action="/groups/<%= @group.id %>/tasks/complete/delete" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete All Completed Tasks">
      </form>
    <% end %>
    
  </div>
</div>


<br><br><form action="/logout" method="POST" class="center">
  <input type="submit" value="Log Out">
</form>
