<br><h1 class="text-center"><%= @group.name %></h1><br>

<div class="row">
  <div class="col-sm mr-3 ml-3">
    <h4>Title:</h4>
    <p><%= @task.title %></p>
    <h4>Deadline:</h4>
    <p><%= @task.deadline %></p>

    <h4>Description:</h4>
    <p><%= @task.description %></p>
  </div>

  <div class="col-md text-center mr-3 ml-3">
    <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
      <h4>Todos</h4>
      <p>Check off tasks that are completed.</p>
      <hr>
      <form action="/groups/<%= @group.id %>/tasks/<%= @task.id %>/todos" method="POST">
        <input type="hidden" name="_method" value="PATCH">
        <% @task.todos.each do |todo| %>
          <br><input type="checkbox" name="todo[]" value="<%= todo.id %>" <%= 'checked' if (todo.complete? == true) %>> <%= todo.content %><%= todo.assigned ? " - assigned to: #{todo.assigned.username}" : "" %>
        <% end %><br><br>
        <input type="checkbox" name="task" <%= 'checked' if (@task.complete? == true) %> class="center"> Mark entire task complete<br><br>
        <label for="content">Add todo:</label><br>
        <input type="text" name="content"><br><br>
        <input type="submit" value="Update" class="btn btn-info">
      </form>
      <br><br>
      <p>Or you can edit the task further:</p>
      <a href="/groups/<%= @group.id %>/tasks/<%= @task.id %>/edit"><button type="button" class="btn btn-info">Edit Task</button></a><br><br>

    </div>
  </div>
</div>

<br><br>

<div class="text-center">
  <a href="/groups/<%= @group.id %>/tasks"><button type="button" class="btn btn-info">Back to Tasks</button></a><br><br>

  <br><form action="/logout" method="POST">
    <input type="submit" value="Log Out">
  </form>
</div>
