<h1 class="center"><%= @group.name %></h1>

<h2><%= @task.title %></h2>

<h4>Todos</h4>

<% @task.sub_tasks.each do |subtask| %>
  <p><%= subtask.content %></p>
<% end %>

<p><a href="/groups/<%= @group.slug %>/tasks/<%= @task.id %>/edit">Edit this task</a></p>


<br><br><form action="/logout" method="POST" class="center">
  <input type="submit" value="Log Out">
</form>
