<h1 class="center"><%= @group.name %></h1>

<h2 class="center"><%= @task.title %></h2>

<h4>Todos</h4>

<form action="/groups/<%= @group.id %>/tasks/<%= @task.id %>/todos" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <% @task.sub_tasks.each do |sub_task| %>
    <input type="checkbox" name="sub_task[]" value="<%= sub_task.id %>" <%= 'checked' if (sub_task.complete? == true) %>><%= sub_task.content %>
    <label for="assignments"> ---- assign to (username): </label>
    <input type="text" name="assignments[<%= sub_task.id %>]" value="<%= sub_task.assigned.username if sub_task.assigned %>"><br>
  <% end %><br>
  <input type="checkbox" name="task" <%= 'checked' if (@task.complete? == true) %>>Entire task complete<br><br>
  <label for="content">Add todo:</label><br>
  <input type="text" name="content"><br><br>
  <input type="submit" value="Update">
</form>

<br><br>

<a href="/groups/<%= @group.id %>/tasks"><button type="button">Back to Tasks</button></a>

<br>

<a href="/groups/<%= @group.id %>/tasks/<%= @task.id %>/edit"><button type="button">Edit Task</button></a>


<br><br><form action="/logout" method="POST" class="center">
  <input type="submit" value="Log Out">
</form>
