<h1><%= @group.name %></h1>

<h2><%= @task.title %></h2>

<h4>Todos</h4>

<% @task.sub_tasks.each do |subtask| %>
  <p><%= subtask.content %></p>
<% end %>

<p><a href="/groups/<%= @group.slug %>/tasks/<%= @task.id %>/edit">Edit this task</a></p>
