<div class="text-center">
  <h1>Edit <%= @group.name %></h1>

  <div class="form">
    <form  action="/groups/<%= @group.id %>" method="POST">
      <input type="hidden" name="_method" value="PATCH">
      <label for="name">Change Group Name:</label><br>
      <input type="text" name="name" value="<%= @group.name %>"><br>
      <label for="info">Add a Group Description:</label><br>
      <textarea name="info" rows="8" style="width:100%;"><%= @group.info %></textarea><br>
      <label for="username">Transfer Ownership (by username):</label><br>
      <input type="text" name="username"><br><br>
      <input type="submit" value="Update Group" class="btn btn-info">
    </form>
  </div>

  <br>

  <p>This will delete this group and all cooresponding tasks. This cannot be undone.</p>
  <div class="form">
    <form action="/groups/<%= @group.id %>/delete" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete Group" class="btn btn-danger">
    </form>
  </div>

</div>


<br><br><form action="/logout" method="POST" class="text-center">
  <input type="submit" value="Log Out">
</form>
