<h1><%= @group.name %></h1>

<h4>Owned by:</h4>

<p><%= @group.owner.username %></p><br>

<h4>Group Description:</h4>

<p><%= @group.info %></p><br>

<h4>Members:</h4>

<% @group.members.each do |member| %>
  <p><%= member.username %></p>
<% end %><br>

<a href="/groups/<%= @group.slug %>/tasks"><h4>All Tasks:</h4></a>

<% @group.tasks.each do |task| %>
  <a href="/groups/<%= @group.slug %>/tasks/<%= task.id %>"><p><%= task.title %></p></a>
<% end %>

<br><br>

<a href="/groups/<%= @group.slug %>/tasks/new"><p>Add New Task to This Group</p></a>

<br><br>

<% if @group.owner == @user %>
  <div class="form">
    <form  action="/groups/<%= @group.slug %>/members" method="POST">
      <input type="hidden" name="_method" value="PATCH">
      <label for="username">Add Group Member by Username:</label><br>
      <input type="text" name="username"><br>
      <input type="submit" value="Add Member">
    </form>
  </div>

  <br>

  <p><a href="/groups/<%= @group.slug %>/edit">Edit or Delete this Group</a></p>
<% end %>

<% if @group.members.include?(@user) %>
  <div class="form">
    <form  action="/groups/<%= @group.slug %>/members" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Leave Group">
    </form>
  </div><br>
<% end %>
