<br><h1 class="text-center"><%= @group.name %></h1><br>

<div class="row">

  <div class="col-sm">
    <div class="card mx-auto" style="width: 18rem;">
      <img src="/images/profile-placeholder.jpg" class="card-img-top profile-ph" alt="profile img placeholder">
      <div class="card-body">
        <h5 class="card-title"><%= @group.name %></h5>
        <hr>
        <p class="card-text">Owned by: <%= @group.owner.username %></p>
        <p class="card-text">Description: <%= @group.info %></p>
        <p class="card-text">
          Members:
          <% @group.members.each do |member| %>
            <li><%= member.username %></li>
          <% end %>
        </p>
        <p class="card-text">Bio: <%= @user.bio %></p>
      </div>
    </div>

    <% if @group.owner == @user %>
      <div class="text-center">
        <br>
        <form  action="/groups/<%= @group.id %>/members" method="POST">
          <input type="hidden" name="_method" value="PATCH">
          <label for="username" class="font-weight-bold">Add Group Member by Username:</label><br>
          <input type="text" name="username"><br><br>
          <input type="submit" value="Add Member" class="btn btn-info">
        </form>
      </div><br>
    <% end %>
  </div>

  <div class="col-sm">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info font-weight-bold">Oustanding Tasks:</li>

      <% @group.tasks.each do |task| %>
        <% if task.complete? == false %>
          <a href="/groups/<%= @group.id %>/tasks/<%= task.id %>" class="list-group-item list-group-item-action"><%= task.title %></a>
        <% end %>
      <% end %>
    </ul>
    <br>
    <ul class="list-group">
      <li class="list-group-item list-group-item-info font-weight-bold">Completed Tasks:</li>

      <% @group.tasks.each do |task| %>
        <% if task.complete? == true %>
          <a href="/groups/<%= @group.id %>/tasks/<%= task.id %>" class="list-group-item list-group-item-action"><%= task.title %></a>
        <% end %>
      <% end %>
      <br>
    </ul>

    <br>
    <a href="/groups/<%= @group.id %>/tasks/new"><button type="button" class="btn btn-info">Add New Task</button></a>
    <br><br>
    <a href="/groups/<%= @group.id %>/tasks"><button type="button" class="btn btn-info">View All Tasks</button></a>
  </div>

</div>

<br><br>

<div class="text-center">

  <a href="/groups/<%= @group.id %>/edit"><button type="button" class="btn btn-danger">Edit/Delete Group</button></a>

  <% if @group.members.include?(@user) %>
    <div class="form">
      <form  action="/groups/<%= @group.id %>/members" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Leave Group" class="btn btn-danger">
      </form>
    </div><br>
  <% end %>

  <br><br><form action="/logout" method="POST">
    <input type="submit" value="Log Out">
  </form>
</div>
