<div class="center">
  <h1>Edit Your Profile</h1>

  <% if flash.has?(:message) %>
    <p class="red"><%= flash[:message] %></p>
  <% end %>

  <div class="edit-profile">
    <form action="/users/<%= @user.username %>" method="POST">
      <input type="hidden" name="_method" value="PATCH">
      <label for="name">Name:</label>
      <input type="text" name="user[name]" value="<%= @user.name %>" id="name"><br><br>
      <label for="location">Location:</label>
      <input type="text" name="user[location]" value="<%= @user.location %>" id="location"><br><br>
      <label for="bio">Bio:</label><br>
      <textarea name="user[bio]" rows="10" cols="40" id="bio"><%= @user.bio %></textarea><br><br>

      <label for="new_username">Change Username:</label>
      <input type="text" name="new_username" value="<%= @user.username %>" pattern="[A-Za-z1-9]{5,}" title="Must be 5 or more characters, only letters and numbers"/><br><br>

      <label for="email">Change Email:</label>
      <input type="email" name="email" value="<%= @user.email %>"><br><br>

      <label>Change Password</label><br>
      <label for="old_password">Current Password:</label>
      <input type="password" name="old_password"><br>
      <label for="new_password">New Password:</label>
      <input type="password" name="new_password"><br>
      <label for="verify_password">Re-Enter New Password:</label>
      <input type="password" name="verify_password"><br><br>



      <input type="submit" value="Edit Profile">
    </form>
  </div>

  <br><br>

  <div class="delete-profile">
    <form action="/users/<%= @user.username %>/delete" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete Profile">
    </form>
  </div>

</div>


<br><br><form action="/logout" method="POST" class="center">
  <input type="submit" value="Log Out">
</form>
