<h1 class="center">Tasker Profile</h1>

<p>Name: <%= @user.name %></p>
<p>Username: <%= @user.username %></p>
<p>Email: <%= @user.email %></p>
<p>Location: <%= @user.location %></p>
<p>Bio: <%= @user.bio %></p>

<% if @user == current_user %>
  <a href="/users/<%= @user.username %>/edit"><button type="button">Edit your profile</button></a>
<% end %>

<br><br>

<form action="/logout" method="POST" class="center">
  <input type="submit" value="Log Out">
</form>
